@font-face {
  font-family: 'BrandonGrotesque-Regular';
  src: url('fonts/BrandonGrotesque-Regular.eot');
  src: url('fonts/BrandonGrotesque-Regular.woff2') format('woff2'),
       url('fonts/BrandonGrotesque-Regular.woff') format('woff'),
       url('fonts/BrandonGrotesque-Regular.ttf') format('truetype'),
       url('fonts/BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular') format('svg'),
       url('fonts/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrandonGrotesque-RegularItalic';
  src: url('fonts/BrandonGrotesque-RegularItalic.eot');
  src: url('fonts/BrandonGrotesque-RegularItalic.woff2') format('woff2'),
       url('fonts/BrandonGrotesque-RegularItalic.woff') format('woff'),
       url('fonts/BrandonGrotesque-RegularItalic.ttf') format('truetype'),
       url('fonts/BrandonGrotesque-RegularItalic.svg#BrandonGrotesque-RegularItalic') format('svg'),
       url('fonts/BrandonGrotesque-RegularItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonGrotesque-Bold';
  src: url('fonts/BrandonGrotesque-Bold.eot');
  src: url('fonts/BrandonGrotesque-Bold.woff2') format('woff2'),
       url('fonts/BrandonGrotesque-Bold.woff') format('woff'),
       url('fonts/BrandonGrotesque-Bold.ttf') format('truetype'),
       url('fonts/BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold') format('svg'),
       url('fonts/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonGrotesque-BoldItalic';
  src: url('fonts/BrandonGrotesque-BoldItalic.eot');
  src: url('fonts/BrandonGrotesque-BoldItalic.woff2') format('woff2'),
       url('fonts/BrandonGrotesque-BoldItalic.woff') format('woff'),
       url('fonts/BrandonGrotesque-BoldItalic.ttf') format('truetype'),
       url('fonts/BrandonGrotesque-BoldItalic.svg#BrandonGrotesque-BoldItalic') format('svg'),
       url('fonts/BrandonGrotesque-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrandonGrotesque-LightItalic';
  src: url('fonts/BrandonGrotesque-LightItalic.eot');
  src: url('fonts/BrandonGrotesque-LightItalic.woff2') format('woff2'),
       url('fonts/BrandonGrotesque-LightItalic.woff') format('woff'),
       url('fonts/BrandonGrotesque-LightItalic.ttf') format('truetype'),
       url('fonts/BrandonGrotesque-LightItalic.svg#BrandonGrotesque-LightItalic') format('svg'),
       url('fonts/BrandonGrotesque-LightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonGrotesque-Light';
  src: url('fonts/BrandonGrotesque-Light.eot');
  src: url('fonts/BrandonGrotesque-Light.woff2') format('woff2'),
       url('fonts/BrandonGrotesque-Light.woff') format('woff'),
       url('fonts/BrandonGrotesque-Light.ttf') format('truetype'),
       url('fonts/BrandonGrotesque-Light.svg#BrandonGrotesque-Light') format('svg'),
       url('fonts/BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonGrotesque-BlackItalic';
  src: url('fonts/BrandonGrotesque-BlackItalic.eot');
  src: url('fonts/BrandonGrotesque-BlackItalic.woff2') format('woff2'),
       url('fonts/BrandonGrotesque-BlackItalic.woff') format('woff'),
       url('fonts/BrandonGrotesque-BlackItalic.ttf') format('truetype'),
       url('fonts/BrandonGrotesque-BlackItalic.svg#BrandonGrotesque-BlackItalic') format('svg'),
       url('fonts/BrandonGrotesque-BlackItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonGrotesque-Black';
  src: url('fonts/BrandonGrotesque-Black.eot');
  src: url('fonts/BrandonGrotesque-Black.woff2') format('woff2'),
       url('fonts/BrandonGrotesque-Black.woff') format('woff'),
       url('fonts/BrandonGrotesque-Black.ttf') format('truetype'),
       url('fonts/BrandonGrotesque-Black.svg#BrandonGrotesque-Black') format('svg'),
       url('fonts/BrandonGrotesque-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

